body {
    margin: 100px 0 0 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
/*    color: #ffffff; */
/*      background-color: #282828;*/
/*      background-color: #5A5858;*/
/*      background-color: #330100;*/
/*	background: #250d0b url(../images/bg.jpg) top repeat-x;*/
/*	background: #282828 url(../images/flashmo_240_03.jpg) top repeat-x;*/

/*        background-color: #EF5411;
        background-color: #FA5B0F;
        background-color: #FF6517;
        background-color: #FF6D1F;
        background-color: #FF822E;*/

}
body #container {
    color: #ffffff;
}

a:link, a:visited {
    color: #fcdd31;
    text-decoration: underline;
    font-weight: normal;
}
a:active, a:hover { color: #fcdd31; text-decoration: none; }

p {
    margin: 0px;
    padding: 0px;
}

img {
    margin: 0 0 15px 0;
    padding: 0px;
/*	border: 3px solid #cccccc;*/
}

/*House colors*/
.house-colors{
    color : rgba(38, 164, 179, 0.95);/*For opacity*/
    color : #26a4b3;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_top_10 { margin-top: 10px; }
.margin_top_20 { margin-top: 20px; }
.margin_top_40 { margin-top: 40px; }
.margin_top_50 { margin-top: 50px; }
.margin_top_60 { margin-top: 60px; }

.margin_right_20 { margin-right: 20px; }
.margin_right_40 { margin-right: 40px; }
.margin_right_60 { margin-right: 60px; }

.margin_bottom_10 { margin-bottom: 10px; }
.margin_bottom_15 { margin-bottom: 15px; }
.margin_bottom_20 { margin-bottom: 20px; }
.margin_bottom_30 { margin-bottom: 30px; }
.margin_bottom_40 { margin-bottom: 40px; }
.margin_bottom_50 { margin-bottom: 50px; }
.margin_bottom_60 { margin-bottom: 60px; }

.cc_margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;  }
.cc_margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;  }
.cc_margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.cc_margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.cc_margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.cc_margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.cc_margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_left_20 { margin-left: 20px; }
.margin_left_30 { margin-left: 30px; }
.margin_left_40 { margin-left: 40px; }
.margin_left_60 { margin-left: 60px; }
.margin_left_80 { margin-left: 80px; }

.h_divider { background: url(/design-project/web/images/horizontal_divider.jpg) bottom repeat-x; }
.vl_divider { background: url(/design-project/web/images/vertical_divider.jpg) left repeat-y; }
.vr_divider { background: url(/design-project/web/images/vertical_divider1.jpg) right repeat-y; }

.fl { float: left; }
.fr { float: right }

.f_13{  font-size: 13px;  }
.f_16{  font-size: 16px;  }
.f_18{  font-size: 18px;  }
.f_20{  font-size: 20px;  }

.header_01 {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #fbbc53;
    font-weight: bold;
}

.header_02 {
    padding: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: #fbbc53;
}  

.header_02 a {
    padding: 0 0 5px 0;
    font-size: 12px;
    font-weight: bold;
    color: #fbbc53;
}

.header_03 {
    padding: 0;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
}

.header_04{
    font-size: 10px;
}

.header_05{
    color:#fcdd31;
    font-size:16px;
}

.highlight{
    color:#fcdd31;
}

.rc_btn_01 a {
    clear: both;
    float: right;
    display: block;
    width: 100px;
    height: 25px;
    padding: 5px 0 0 0;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border: none; 
    background: url(/web/images/button_01.jpg) no-repeat;
}

#container {
    width: 900px;
        
    margin: 0 auto;
    padding: 0 0;
/*	background: url(/web/images/container_bg.png) repeat-y;*/
    background-color: #5A5858;
    background-color:#3B3B3B;
}

#banner {
/*	width: 960px;*/
    height: 149px;
    margin: 0 auto;
    background-color: maroon;
/*    background: url(../images/banner_bg.jpg) no-repeat;*/
}

#banner #logo {
    float: left;
    margin: 30px 0 0 40px;
    width: 303px;
    height: 114px;
/*	background: url(../images/logo.png)  no-repeat;*/
}

/* menu */

#menu {
    clear: both;
/*        width: 960px;*/
    height: 120px;
    margin-bottom: 20px;
    background-color:maroon;
/*	background: url(/web/images/menu_bg.jpg) repeat-x;*/

}

#menu ul{
    list-style: none;
}

#menu ul li{
    margin: 0 10px;
    float: left;
}

#content_wrapper {
    height: 900px;
/*    background-color:#3B3B3B;*/
}

#content {
    padding: 0 20px;
/*    height: 800px;*/
}

.column_w210 { /* NOT width 210! affects side menu!*/
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 15%;
}


.column_w250 { width: 250px;}

.column_h220 { height: 220px;}

.column_w430 { /* NOT width 430! */
    padding: 0 20px;
    margin-top: 40px;	
/*        background-color: #5A5858;*/
/*	width: 430px;  width 470 */
/*        width: 760px;*/
/*        background-color: white;
        color: black;*/
/*        margin-left: 20px;*/
/*        padding: 10px;*/
}
.column_w430 .header_01 {
/*    color:maroon;*/
}

.column_w430 .header_02 {
/*        color:maroon;*/
}

.column_w920 {
    width: 880px;
    padding: 0 20px;
}

.column_w190 {
    width: 190px;
}

.column_w430 p {
    text-align: justify;
    margin-bottom: 15px;
}

.column_w800 {
    width: 800px;
}

/* footer */

#footer {
    clear: both;
/*	width: 960px;*/
    padding: 20px 0 20px 0;
    text-align: center;
    border-top: 1px solid #8b8a8b;
    background-color: #313233;
/*	background: #343233 url(../images/footer.jpg) no-repeat;*/
}

.footer_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer_list li {
    padding: 0 10px;
    display: inline;
    border-right: 1px solid #cccccc;
}

.footer_list li a {
    color: #cccccc;
    text-decoration: none;
}

.footer_list li a:hover {
    color: #fcdd31;
}

.footer_list .last {
    border-right: none;
}

/* end of footer */

.box {
    color:black;
    position: relative;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

nav a:link, nav a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:active, nav a:hover {
    color: #fff;
    text-decoration: none;
}

/*.box:before, .box:after
{
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
} 

.box:after
{
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}*/

/*   */
/*body {
    background-color: #59553F !important;
}

body #container {
    color: #ffffff !important;
    color: #F2EBD5 !important;
}

#container {
    background-color: #5A5858 !important;
    background-color: #8C7C5E !important;
}

#menu {
    background-color:maroon !important;
    background-color:#242719 !important;
}

.header_01, .header_02{
    color: #fbbc53 !important;
    color: #A89A73 !important;
}

a:link, a:visited { color: #fcdd31 !important; text-decoration: underline; font-weight: normal; } 
a:active, a:hover { color: #fcdd31 !important; text-decoration: none; }

#sideMenu{
    background: #dddddd !important;
    color:black !important;
    
    background: #dddddd !important;
    color:black !important;
}*/

/* Menu Start */

@import 'https://fonts.googleapis.com/css?family=Open+Sans';
header {
    background: #26a4b3;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 0px;

}

ul {
    list-style: none;
}

li {
    display: inline-block;
    float: left;
    padding: 10px
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#logo {
    float: left;
    width: 100px;
    height: 74px;
    background: url(../images/logo.png) no-repeat center;
    display: block;
}

nav {
    float: right;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

#menu-icon {
    background: url(../images/menu-icon.png) no-repeat center;
    display: none;
    width: 32px;
    height: 32px;
}

.active {
    display: block !important;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 640px) {
    nav {
        padding: 20px;
    }

    header {
        position: fixed;
    }

    #menu-icon {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        position: fixed;
        padding: 5px;
        background: #26a4b3;
        right: 0px;
        top: 75px;
        width: 100%;
    }

    nav li {
        text-align: center;
        width: 100%;
        margin: 0;
    }

}

/* Menu End */

/* Table layout */
.table-wrapper {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    background: #c9d1ce;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table tr th:first-child {
    width: 60px;
}

table.table tr th:last-child {
    width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a:hover {
    color: #2196F3;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/* Custom checkbox */
.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

/* Table layout end*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    z-index: 10000;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    z-index: 102;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 101;
}