<!--USER LIST-->
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-12">
                <h3>{{dashboardCtrl.title}}</h3>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Availability</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in dashboardCtrl.allUsers">
            <td>{{user.fname}} {{user.lname}}</td>
            <td>
                <div ng:class="{true:'color-available', false:'color-unavailable'}[user.onLocation]">
                    <div ng-if="user.onLocation">
                        <p>Available</p>
                    </div>
                    <div ng-if="!user.onLocation">
                        <p>Unavailable</p>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>