<table class="blueTable">
  <thead>
    <tr>
      <th>Volledige naam</th>
      <th>Aanwezig</th>
    </tr>
  </thead>
  <!-- For multiple pages
  <tfoot>
    <tr>
      <td colspan="4">
        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
      </td>
    </tr>
  </tfoot>
  -->
  <tbody>
    <tr>
      <td>cell1_1</td>
      <td>cell2_1</td>
    </tr>
    <tr>
      <td>cell1_2</td>
      <td>cell2_2</td>
    </tr>
    <tr>
      <td>cell1_3</td>
      <td>cell2_3</td>
    </tr>
    <tr>
      <td>cell1_4</td>
      <td>cell2_4</td>
    </tr>
  </tbody>
</table>