<div ng-controller="floorplanbuilderController as floorplanbuilderCtrl">
    <div ng-repeat="section in floorplanbuilderCtrl.baseSections">
        <sectionview></sectionview>
    </div>
    <span ng-click="floorplanbuilderCtrl.addSection('test', 'test', 0, null)">+</span>
    <!-- Delete Section Modal -->
    <div id="delete-section-modal" class="modal">
        
        <div ng-click="floorplanbuilderCtrl.closeModal('delete-section-modal')" class="cover"></div>

        <!-- Modal content -->
        <div class="modal-content">
            <span ng-click="floorplanbuilderCtrl.closeModal('delete-section-modal')" class="close">&times;</span>
            <form name="deleteForm">
                <div>
                    <p>Are you sure you want to delete {{floorplanbuilderCtrl.section.name}}?</p>
                    <button ng-click="floorplanbuilderCtrl.closeModal('delete-section-modal')"
                    class="btn btn-primary" type="button"
                    > No
                    </button>
                    <button ng-click="floorplanbuilderCtrl.removeSection(floorplanbuilderCtrl.section, 'delete-section-modal')"
                            class="btn btn-primary" type="button"
                    > Yes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>