
<div class="container-fluid">
    <div class="row events" ng-init="navbar.title = 'Timetable';
            navbar.map = false; navbar.list=false;sidemenu.activeTab = 'Timetable'">
        <!--        <div class="col-lg-12" ng-repeat="event in eventCtrl.events">
                        <event></event>
        
                </div>-->
        <div ng-repeat="events in eventCtrl.events
                | groupBy: 'startDate.toDateString()'">
            <div class="event-timegroup-div">{{eventCtrl.getTimeHeader(events[0].startDate)}}</div>
            <div ng-repeat="event in events| orderBy: 'startDate'">
                <event></event>
            </div>
        </div>
    </div>
</div>
