<div class="container">
    <div ng-if="privilegeLv >= 2">
        <alertclickthrough></alertclickthrough>
    </div>


    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h3>{{LANG.ALERTS}}</h3>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{LANG.KIND}}</th>
                    <th>{{LANG.TIME}}</th>
                    <th>{{LANG.DESCRIPTION}}</th>
                    <th>{{LANG.LOCATION}}</th>
                    <th>{{LANG.ACTIVE}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alert in alertsCtrl.alerts| toArray | orderBy: '-time' track by $index">
                    <td><b>{{alert.kind}}</b></td>
                    <td>{{alert.time| date:'dd-MM-yyyy HH:mm'}}</td>
                    <td>{{alert.description}}</td>
                    <td>{{alert.location}}</td>
                    <td>

                        <p><input ng-click="alertsCtrl.toggleAlertStatus(alert)" class="tgl tgl-skewed"
                                                       ng-disabled="privilegeLv < 2"
                                                       ng-attr-id="{{ 'cb3-' + alert.id}}"
                                                       ng-checked="alert.active"
                                                       type="checkbox"
                                                       />
                            <label class="tgl-btn" data-tg-off="{{LANG.INACTIVE}}" data-tg-on="{{LANG.ACTIVE}}" for="cb3-{{alert.id}}"/>
                        </p>
                    </td>
                    <td ng-if="privilegeLv >= 2">
                        <a ng-click="alertsCtrl.openModal('custom-modal-delete-alert', alert)" class="delete"><i
                                class="material-icons"
                                data-toggle="tooltip"
                                title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- The Alerts User Modal -->
<div id="custom-modal-delete-alert" class="modal">
    <div ng-click="alertsCtrl.closeModal('custom-modal-delete-alert')" class="cover"></div>

    <!-- Modal content -->
    <div class="modal-content">
        <span ng-click="alertsCtrl.closeModal('custom-modal-delete-alert')" class="close">&times;</span>
        <form name="deleteForm">
            <div>
                <p>{{LANG.DELETEALERTCONFIRM}}</p>
                <button ng-click="alertsCtrl.closeModal('custom-modal-delete-alert')"
                        class="btn btn-primary" type="button"
                        > {{LANG.NO}}
                </button>
                <button ng-click="alertsCtrl.removeAlert()"
                        class="btn btn-primary" type="button"
                        > {{LANG.YES}}
                </button>
            </div>
        </form>
    </div>
</div>


