<div class="container" ng-controller="alertClickThroughController as alertCTCtrl">
    <h2>Create your alert: </h2>
    <div class="alert-type">
        <div class="alert-clickthrough-title">
            <h3>{{alertCTCtrl.currentView.title}}</h3>
        </div>
        <div class="alert-clickthrough-content" >            
            <div class="alert-clickthrough-item" ng-repeat="button in alertCTCtrl.currentView.buttons">
                <alertbutton></alertbutton>
            </div>
        </div>
    </div>
    <div>
        <h3>Select your location:</h3>
        <div>
            <span>{{alertCTCtrl.baseSection}}</span>
            <button ng-click="alertCTCtrl.addSection()">Add</button>
            <button ng-click="alertCTCtrl.removeSection(section)">Remove</button>
        </div>
        <div ng-repeat="section in alertCTCtrl.currentSections">
            <span>{{section}}</span>
            <button ng-click="alertCTCtrl.addSection(section.name + 'test')">Add</button>
            <button ng-click="alertCTCtrl.removeSection(section)">Remove</button>
        </div>
        <span>{{sections}}</span>
    </div>
</div>