<div class="container" ng-controller="alertClickThroughController as alertCTCtrl">
    <h2>Create your alert: </h2>
    <div class="alert-type">
        <div class="alert-clickthrough-title">
            <h3>{{alertCTCtrl.currentView.title}}</h3>
        </div>
        <div class="alert-clickthrough-content" >            
            <div class="alert-clickthrough-item" ng-repeat="button in alertCTCtrl.currentView.buttons">
                <alertbutton></alertbutton>
            </div>
        </div>
    </div>
    <div>
        <h3>Select your location:</h3>

        <select ng-model="alertCTCtrl.selectedSection" ng-change="alertCTCtrl.generateDropdowns(alertCTCtrl.selectedSection)" ng-options="s.$id as s.name for s in firstSections">
            <option value="">Select Location</option>
        </select>
        <div ng-hide="!levelDropdown.length" class="dropdown-menu-item" ng-repeat="levelDropdown in currentLevelDropdowns">
            <select ng-model="alertCTCtrl.currentSections[levelDropdown[0].level].$id" ng-change="alertCTCtrl.generateDropdowns(alertCTCtrl.currentSections[levelDropdown[0].level].$id)" ng-options="s.$id as s.name for s in levelDropdown">
            <option value="">Select Location</option>
        </select>
        </div>
        
    </div>
</div>