<div id="menu">
    <div id='cssmenu' class="fixed">
        <ul>
            <li><a ng-href="./#/" class="active"><span></span>Home</a></li>
            <li><a ng-href="./#/login"><span></span>Login</a></li>  
            <li><a ng-href="./#/stages"><span></span>Stages</a></li>              
            <li><a ng-href="./#/"><span></span>c</a></li>
            <li><a ng-href="./#/"><span></span>d</a></li>
            <li><a ng-href="./#/" class=""><span></span>Other</a></li>
        </ul>
    </div>
</div>