<div ng-controller="menuController as menuCtrl">
    <a href="./#/" id="logo"></a>
    <nav>
        <ul>
            <li style="list-style: none; display: inline"></li>

            <li ng-if="privilegeLv == 0">
                    <a href="./#/">{{titleLogin}}</a>
                </li>

            <li style="list-style: none; display: inline"></li>

            <li ng-if="privilegeLv > userRoles.responderLv">
                <a href="./#/">{{titleHome}}</a>
            </li>

            <li style="list-style: none; display: inline"></li>

            <li ng-if="privilegeLv >= userRoles.responderLv">
                <a href="./#/alerts">{{titleAlerts}}</a>
            </li>

            <li style="list-style: none; display: inline"></li>

            <li ng-if="privilegeLv >= userRoles.adminLv">
                <a href="./#/user">{{titleUsers}}</a>
            </li>

            <li style="list-style: none; display: inline"></li>
            
            <li ng-if="privilegeLv >= userRoles.adminLv && privilegeLv != 0">
                <a href="./#/logout">Logout</a>
            </li>

            <li style="list-style: none; display: inline"></li>
        </ul>
    </nav>
</div>