  
    <div class="container-fluid">
        <div class="row">
            
            <div class="overlay-header" 
                 ng-style="{'background-image': 'url({{event.headerImage}})', 'background':'-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1), 100%)'}" >
                <span class="glyphicon glyphicon-arrow-left backArrow" ng-click="detailCtrl.showDetailPage = '' ; detailCtrl.enableScroll()"></span>
                <!--        <img class="eventDetail-img" ng-src="{{event.image}}">-->
            </div>
        </div> 
    </div>
    <div class="overlayInfo container">
    
    <h5 class="overlayTitle">{{event.title}}</h5>
    <h5 class="overlayStage">{{eventCtrl.getStageName(event.stage)}}</h5>
    <div class="overlayTime">
        {{event.beginTime}} - {{event.endTime | date: HH:mm}}
        <img class="overlayFav" alt="<3" ng-src="thumbnail_Heart inactive2x.jpg" ng-if="!eventCtrl.isFav(event)" ng-click="eventCtrl.addToFav(event)">
        <img class="overlayFav" alt="<3" ng-src="thumbnail_Heart2x.jpg" ng-if="eventCtrl.isFav(event)" ng-click="eventCtrl.addToFav(event)">
            </div>
            <div class="overlayDescription">{{event.description}}</div>
            <!--    {{eventCtrl.getLatLong(event.stage)[0]}}
                {{eventCtrl.getLatLong(event.stage)[1]}}-->    </div>
    <div class="mapContainer">
        <div class="container">
            <ng-map class="overlayMap" center="[{{eventCtrl.getLatLong(event.stage)[0]}}, {{eventCtrl.getLatLong(event.stage)[1]}}]">

                <marker position="[{{eventCtrl.getLatLong(event.stage)[0]}}, {{eventCtrl.getLatLong(event.stage)[1]}}]" title="marker"></marker>
            </ng-map>
        </div>
    </div>
