<!--For showing availability of BHV'rs-->
<!--<app-available></app-available>-->

<!--Example code--><!---->
<h1>{{title}}</h1>
<nav>
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>


<!--
<div ng-app="demo" ng-controller="controllers">
    <input type="text" ng-model="name"/>
    <br />
    <input type="text" ng-model="first">
    {{first}}
    <br /> 
    <ul>
        <li ng-repeat="cust in customers | filter:name">{{cust.name | uppercase}} - {{cust.city}}</li>
    </ul>   
</div>
-->
  
<!--Example code--><!--
<div ng-app="myApp" ng-controller="myCtrl">
        
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>

    myApp DATA: <input type="text" ng-model="data"><br>
    myApp Test: <input type="text" ng-model="test"><br>
    <br>


</div>
-->

<!--
<div ng-app="sampleApp" ng-controller="SampleCtrl">
        
    DATA: <input type="text" ng-model="data"><br>
    Test: <input type="text" ng-model="test"><br>
    <br>
    Full Name: {{firstName + " " + lastName}]

</div>
-->