<h1>{{title}}</h1>
<app-heroes></app-heroes>
<app-messages></app-messages>
  
<div ng-app="myApp" ng-controller="myCtrl">
        
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>

    myApp DATA: <input type="text" ng-model="data"><br>
    myApp Test: <input type="text" ng-model="test"><br>
    <br>
    <!--Full Name: {{firstName + " " + lastName}}-->

</div>

<!--<div ng-app="sampleApp" ng-controller="SampleCtrl">
        
    DATA: <input type="text" ng-model="data"><br>
    Test: <input type="text" ng-model="test"><br>
    <br>
    Full Name: {{firstName + " " + lastName}]

</div>-->