<div id="footer">
    <ul class="footer_list">
        <li><a href="#">Home</a></li>
        <li><a href="#">A</a></li>
        <li><a href="#">B</a></li>
        <li><a href="#">C</a></li>
        <li><a href="#">About Us</a></li>
        <li class="last"><a href="#">Contact Us</a></li>
    </ul> 

    <div class="margin_bottom_10"></div>

    Copyright © 2017 <a href="#">Tricycle</a> | <a href="" target="_parent">Website</a> by <a href="" target="_parent">Tricycle</a>

    <div class="margin_bottom_10"></div>
</div>