<div class="modal-outer">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <div ng-show="errorMsg" class="alert alert-danger">
                {{errorMsg}}
            </div>
            <h1>Login</h1><br>
            <form>
                <input id="email" type="text" ng-model="loginCtrl.email" name="email" placeholder="{{LANG.EMAIL}}">
                <input id='password' type="password" ng-model="loginCtrl.password" name="text"
                       placeholder="{{LANG.PASSWORD}}">
                <input ng-click="loginCtrl.submit()" type="submit" id="submit" name="login"
                       class="login loginmodal-submit" value="{{LANG.SUBMITLOGIN}}" }>
            </form>
        </div>
    </div>
</div>