<div ng-controller="menuController as menuCtrl">
    <a href="./#/" id="logo"></a>
    <nav>
        <ul>
            <li style="list-style: none; display: inline"></li>

            <li ng-if="privilegeLv == 0">
                <a href="./#/">{{LANG.LOGIN}}</a>
                </li>

            <li style="list-style: none; display: inline"></li>

            <li ng-if="privilegeLv > userRoles.responderLv">
                <a href="./#/">{{LANG.HOME}}</a>
            </li>

            <li style="list-style: none; display: inline"></li>

            <li ng-if="privilegeLv >= userRoles.responderLv">
                <a href="./#/alerts">{{LANG.ALERTS}}</a>
            </li>

            <li style="list-style: none; display: inline"></li>

            <li ng-if="privilegeLv >= userRoles.adminLv">
                <a href="./#/user">{{LANG.USERS}}</a>
            </li>
            
            <li ng-if="privilegeLv >= userRoles.adminLv">
                <a href="./#/floorplanbuilder">{{LANG.FLOORPLANBUILDER}}</a>
            </li>
            
            <li ng-if="privilegeLv >= userRoles.adminLv">
                <a href="./#/card">{{LANG.CARD}}</a>
            </li>

            <li style="list-style: none; display: inline"></li>
            
            <li ng-if="privilegeLv >= userRoles.adminLv && privilegeLv != 0">
                <a href="./#/logout">{{LANG.LOGOUT}}</a>
            </li>

            <li>
                <a ng-click="menuCtrl.changeLanguage('EN')">
                    <img src="./images/Flag_of_the_United_Kingdom.svg" height="12" width="22"/>
                </a>
            </li>

            <li>
                <a ng-click="menuCtrl.changeLanguage('NL')">
                    <img src="./images/Flag_of_the_Netherlands.svg" height="12" width="22"/>
                </a>
            </li>

            <li style="list-style: none; display: inline"></li>
        </ul>
    </nav>
</div>