<div id="footer">
    <ul class="footer_list">
        <li><a href="./#/">{{LANG.HOME}}</a></li>
        <li><a href="https://www.tricycle-sec.nl/arne/">{{LANG.ABOUT}}</a></li>
        <li class="last"><a href="https://www.tricycle-sec.nl/">{{LANG.CONTACT}}</a></li>
    </ul> 

    <div class="margin_bottom_10"></div>

    {{LANG.COPYRIGHT}}<a href="https://www.tricycle-sec.nl/">{{LANG.COMPANYNAME}}</a> | <a href="./#/" target="_parent">{{LANG.COMPANYWEBSITESIG}}</a>

    <div class="margin_bottom_10"></div>
</div>