<!-- static info
<h3>Available HBVs</h3>
<div class="grid grid-pad">
  <a *ngFor="let hbv of hbvs" class="col-1-4"
      routerLink="/detail/{{hbv.id}}">
    <div class="module hbs">
      <h4>{{hbv.name}}</h4>
    </div>
  </a>
</div>
-->

<div ng-app="dashboardApp" ng-controller="dashboardCtrl">
  <h3>Available HBVs</h3>
  <div class="grid grid-pad">
    <a ng-repeat="user in allUsers" class="col-1-4">
      <div class="module hbs">
        <h4><span ng-bind="user.fname"></span></h4>
      </div>
    </a>
  </div>
</div>